table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;

}

#field td {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    background-image: url("../img/field/hero.jpg");
}

.friend {
    background-image: url("../img/field/character.png");
}

.enemy {
    background-image: url("../img/field/enemy.png");
}

.wall {
    background-image: url("../img/field/wall.jpg");
}

.door {
    background-image: url("../img/field/door.png");
}
