table {
    margin: 0 auto;
    border-collapse: collapse;
}

#field td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.hero {
    background-color: blue;
}

.friend {
    background-color: green;
}

.enemy {
    background-color: #9C1A1C;
}

.wall {
    background-color: black;
}

.door {
    background-color: brown;
}