* {
    text-align: center;
}

#content{
    min-height:80%;
}

.status-bar {
    background-color: #f8f9fa;
    padding: 10px;
}
.status-item {
    display: inline-block;
    margin-right: 20px;
}

#footer {
    height: 10%;
}
