/* Снизу можно настроить размеры формы по вашему вкусу */
.container {
    max-width: 400px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

/* Этот класс можно применить к другим элементам формы, если требуется уменьшить их ширину */
.form-control {
    max-width: 100%; /* Максимальная ширина элементов формы */
}

/* Этот класс можно применить к кнопке, если требуется уменьшить ее ширину */
.btn {
    width: 100%; /* Ширина кнопки */
}
