#window {
    min-height: 500px;
}

.chat {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
}

.message {
    text-align: justify;
}

.actions {
    width: 100%;
    height: 60%;
    border: 1px solid black;
    text-align: left;
    padding: 20px;
}
.info {
    width: 60%;
    height: 100%;
    border: 1px solid black;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.info img {
    max-width: 100%;
    height: auto;
}
.info h2 {
    margin-top: 0;
}
.health-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    margin-top: 10px;
    position: relative;
}
.health-bar .bar {
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
}
