    {% extends 'main.htm' %}

    {% block head_block %}

    {{ super() }}

    <title>Поле</title>
    <link href="../static/css/field.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock %}

    {% block body_block %}
    <h1>Поле</h1>

    <div class="container" >
        <table id="field">
            <tbody>
            {% for i in range(25) %}
            <tr>
                {% for j in range(45) %}
                    {% if i == 12 and j == 22 %}
                        <td class="hero"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {%include 'statusbar.htm'%}

    <script src="../static/js/field.js"></script>

    {% endblock %}
