    {% extends 'main.htm' %}

    {% block head_block %}

    {{ super() }}

    <title>Инвентарь</title>
    <link href="../static/css/inventory.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock %}

    {% block body_block %}
        <h1>Инвентарь</h1>

        <div class="container d-flex flex-row" id="window">
            <table id="inventory">
                <tbody>
                {% for i in range(5) %}
                <tr>
                    {% for j in range(10) %}

                        <td>
                            <a href="#" class="item-link" data-index="{{ i*10 + j }}">
                                <img id="item_{{ i*10 + j }}" src='../static/img/пусто.png' alt='Image'>
                            </a>
                        </td>

                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="col-md-4">
                    <div class="info">
                        <img src="https://via.placeholder.com/150" alt="Image">
                        <h2>Заголовок</h2>
                        <p>Описание</p>

                        <button type="button" class="btn btn-primary">Выбрать</button>
                        <button type="button" class="btn btn-danger">Выбросить</button>
                    </div>
            </div>
        </div>

        <h2>Снаряжение</h2>

        <table id="equip">
            <tbody>
            <tr>
                    <td id="weapon">
                    <img src='../static/img/пусто.png' alt='Image'>
                    <p>Оружие</p>
                    </td>

                    <td id="armor">
                    <img src='../static/img/пусто.png' alt='Image'>
                    <p>Броня</p>
                    </td>

                    <td id="consumable1">
                    <img src='../static/img/пусто.png' alt='Image'>
                    <p>Расходник 1</p>
                    </td>

                    <td id="consumable2">
                    <img src='../static/img/пусто.png' alt='Image'>
                    <p>Расходник 2</p>
                    </td>

                    <td id="consumable3">
                    <img src='../static/img/пусто.png' alt='Image'>
                    <p>Расходник 3</p>
                    </td>
            </tr>
            </tbody>
        </table>

        {%include 'statusbar.htm'%}
    <script src="../static/js/inventory.js"></script>

    {% endblock %}
