    {% extends 'main.htm' %}

    {% block head_block %}

    {{ super() }}

    <title>Регистрация</title>
    <link href="../static/css/register.css" rel="stylesheet">

    {% endblock %}

    {% block body_block %}
    <div class="container mt-5">
        <h1>Регистрация</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password"  required autocomplete="new-password">
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Подтвердите пароль</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password"  required autocomplete="new-password">
            </div>
            <a href="{{ url_for('main', 'login') }}">Уже есть аккаунт?</a><br><br>
            <button type="submit" class="btn btn-primary">Зарегистрироватся</button>
        </form>

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </div>
    {% endblock %}
