    {% extends 'main.htm' %}

    {% block head_block %}

    {{ super() }}

    <title>Диалоговое окно</title>
    <link href="../static/css/window.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock %}

    {% block body_block %}
    <h1>Диалоговое окно</h1>

    <div class="container d-flex flex-row" id="window">
        <div class="col-md-8 d-flex flex-column">
            <div class="chat">
                Текст чата
            </div>

            <div class="actions">
            </div>
        </div>

        <div class="col-md-4">
            <div class="info">
                <img src="https://via.placeholder.com/150" alt="Image">
                <h2>Заголовок</h2>
                <p>Описание</p>
                <div class="health-bar">
                    <div class="bar" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>

    {%include 'statusbar.htm'%}

    <script src="../static/js/window.js"></script>

    {% endblock %}
